<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/estilos/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilo.css">
    <title>escuela</title>
</head>

<body>
    <div class="contenedorGeneral">
        <header>
            <nav class="top_nav">
                <div class="logo">
                    <a href="../index.html">
                        <p>
                            Kyomu
                            <span>
                                bonsai
                            </span>
                        </p>
                    </a>
                </div>

                <ul>
                    <li>
                        <a href="../index.html"> inicio</a>
                    </li>
                    <li> <a href="./nosotros.html">nosotros</a>
                        <ul>
                            <li>
                                <a href="./nosotros.html#quienesSomos">quienes somos</a>
                            </li>
                            <li>
                                <a href="./nosotros.html#nuestraMision">nuestra mision</a>
                            </li>
                            <li>
                                <a href="./nosotros.html#nuestraFilosofia">filosofia</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./escuela.html">escuela</a>
                    </li>
                    <li>
                        <a href="./tienda.html">tienda</a>
                        <ul>
                            <li>
                                <a href="./tienda.html#arboles">arboles</a>
                            </li>
                            <li>
                                <a href="./tienda.html#macetas">macetas</a>
                            </li>
                            <li>
                                <a href="./tienda.html#herramientas">herramientas</a>
                            </li>
                            <li>
                                <a href="./tienda.html#sustratos">sustratos</a>
                            </li>
                            <li>
                                <a href="./tienda.html#abonos">abonos</a>
                            </li>
                            <li>
                                <a href="./tienda.html#fitosanitarios">fitosanitarios</a>
                            </li>
                            <li>
                                <a href="./tienda.html#mesas">mesas</a>
                            </li>
                            <li>
                                <a href="./tienda.html#libros">libros</a>
                            </li>
                            <li>
                                <a href="./tienda.html#servicios">servicios</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./contacto.html">contacto</a>
                    </li>
                </ul>
            </nav>
        </header>





        <!-- Aun no hay contenido definido, es meramente ilustrativo -->

        <main>
            <section class="portada_escuela">
                <div class="portada_escuela__texto">
                    <p>
                        No pienses que no pasa nada, simplemente
                    </p>
                    <p>
                        porque no ves el crecimiento
                    </p>
                   
                    <p>
                        Las grandes cosas crecen en silencio
                    </p>
                </div>
                <img src="../assets/img/estilos/escuela/talleres.png" alt="">
            </section>

            <section class="seccionCentral_escuela">
                <div class="CyT_titulo">
                    <h1>
                        CURSOS Y TALLERES
                    </h1>
                </div>


                <div class="sec_central_escuela_parrafo">
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi praesentium voluptatum facilis,
                        sed ullam facere aperiam dicta, provident beatae ad quasi quo eaque.
                        Assumenda expedita aliquid
                        repellendus. Repellendus, totam laudantium animi dolorum est obcaecati quas non ducimus,
                        recusandae autem natus iure fugiat, voluptate error sapiente dolorem unde deleniti iste placeat
                        soluta harum. Voluptates repellat ratione illo, animi deleniti ut sapiente quaerat molestiae est
                        saepe, quam sunt laboriosam quas veritatis dignissimos tempora, hic voluptatum sint qui mollitia
                    </p>
                </div>
                <nav class="sec_central_escuela-nav">
                    <ul>
                        <li>
                            <a href="#">Bonsai avanzado</a>
                        </li>
                        <li>
                            <a href="#">Filosofia oriental</a>
                        </li>
                        <li>
                            <a href="#">Historia del bonsai</a>
                        </li>
                        <li>
                            <a href="#">Botanica oriental</a>
                        </li>
                        <li>
                            <a href="#">Ilustracion</a>
                        </li>
                        <li>
                            <a href="#">Bonsai para principiantes</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </main>



        <footer>
            <div class="footer_content">
                <ul>
                    <li>
                        <a href="https://wa.me/+59896299090" target="_blank" title="whatsapp">
                            <i class="fa-brands fa-whatsapp-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank" title="instagram">
                            <i class="fa-brands fa-instagram-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank" title="facebook">
                            <i class="fa-brands fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com" target="_blank" title="youtube">
                            <i class="fa-brands fa-youtube-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:noemail@gmail.com" target="_blank" title="gmail">
                            <i class="fa-solid fa-square-envelope"></i>
                        </a>
                    </li>
                </ul>

                <address class="address">
                    <p> Av. Sin Nombre 555 <br>
                        Parque Rodo <br>
                        Montevideo, Uruguay. <br>
                        Telefono: 555 555 555 <br>
                        e-mail: <a href="mailto:noemail@gmail.com"> noemail@gmail.com </a> <br>
                    </p>
                </address>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6543.3778420273775!2d-56.17235532155763!3d-34.914255373760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a4e4e649a1%3A0xeeee2dc3874fb014!2sParque%20Rod%C3%B3%2C%20Montevideo%2C%20Departamento%20de%20Montevideo%2C%20Uruguay!5e0!3m2!1ses-419!2sbr!4v1648256069660!5m2!1ses-419!2sbr"
                    width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>

            </div>
            <address class="copy">
                <p>
                    &#169; Copyrigth. Todos los derechos reservados
                </p>
            </address>
        </footer>


    </div>
</body>

</html>